.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn-space{
  margin: 20px 0 0 60px;
}
.forms:focus{
  background-color: rgba(167, 0, 50, 0.178);
}

.form-div{
  margin-top: 30px;
  margin-left: 700px;
}
@media screen and (max-width: 1280px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .form-div{
    margin-top: 30px;
    margin-left: 400px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
